@import "colors";

body {
  background-color: #FEFEFE;
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
}

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
  border: 8px solid darken($primary-color, 20%);

}

  h1 {
    text-align: center;
    font-size: 48px;
  }


footer#page-footer {
  color: $secondary-color;
  background: $primary-color;
  text-align: center;
  padding: 5px;
  border: 8px solid darken($primary-color, 20%);
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

aside#sidebar {
  float: right;
  background: #F0E6FA;
  width: 200px;
  font-family: 'PT Sans', sans-serif;
}

