@import "colors";

article#movie {
  p {
    padding: .5em 0;
    font-size: 1.15em;
    line-height: 1.25em;
  }

    h2 {
    margin: .5em 0;
    font-size: 115%;
    color: black;
  }

    h3 {
    padding-bottom: .5em;
    margin: 1em 0;
    font-size: 120%;
    border-bottom: 1px solid black;

    &.no-rule {
      border: none;
    }
  }


  img {
    float: right;
    margin: 0 15px 15px;
    border: 3px solid $secondary-color;
  }
}

/* FLASHES */

.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;
  
  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}
